<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d057a9b8-d9e3-48fb-a8bd-af170bbba476/resourceGroups/Resourses_group/providers/Microsoft.Web/sites/optimumsystem</ResourceId>
    <ResourceGroup>Resourses_group</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://optimumsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>15485d53-dbcb-4b2a-9901-b422f2f8acbb</ProjectGuid>
    <PublishUrl>https://optimumsystem.scm.azurewebsites.net/</PublishUrl>
    <UserName>$optimumsystem</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>