@model Rocky.Models.ViewModels.ProductVM
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.TypePump"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.TypePump" class="form-control" />
        <span asp-validation-for="Product.TypePump" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.Qapacity"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.Qapacity" class="form-control" />
        <span asp-validation-for="Product.Qapacity" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.P2max"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.P2max" class="form-control" />
        <span asp-validation-for="Product.P2max" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.P1"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.P1" class="form-control" />
        <span asp-validation-for="Product.P1" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.NPIPR"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.NPIPR" class="form-control" />
        <span asp-validation-for="Product.NPIPR" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.Strokes"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.Strokes" class="form-control" />
        <span asp-validation-for="Product.Strokes" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.Stroke_length"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.Stroke_length" class="form-control" />
        <span asp-validation-for="Product.Stroke_length" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.Power"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.Power" class="form-control" />
        <span asp-validation-for="Product.Power" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.Adjustable"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.Adjustable" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.DN"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.DN" class="form-control" />
        <span asp-validation-for="Product.DN" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-7">
        <label asp-for="Product.ExplosionProofPump"></label>
    </div>
    <div class="col-5">
        <input asp-for="Product.ExplosionProofPump" class="form-control" />
        <span asp-validation-for="Product.ExplosionProofPump" class="text-danger"></span>
    </div>
</div>

